@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F7FD;
  --foreground: #383D71;
  --primaryColor: #383D71;
  --primaryBg: #383D71;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */





.toggle__icon{
  display: none;
}
header h1 {
    padding-left: 80px;
}
.mobile_listing {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
    padding-left: 50px;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto !important;
  padding-right: 0px !important;
}
.bg-color.w-\[70px\] span {
    display: none;
}

.bg-color.w-\[70px\] .laptop_size li a,.bg-color.w-\[70px\]  .laptop_size li span {
    width: fit-content;
}

.primary-text{
  color: var(--primaryColor);
}
.primary-bg{
  background: var(--foreground);
  color: #fff;
  position: relative;
  z-index: 2;
}
.primary-bg::after {
  content: "";
  position: absolute;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.primary-bg::after {
  width: 0;
  height: 100%;
  background: #0e0e16;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.primary-bg:hover {
  color: whitesmoke;
}
.primary-bg:hover::after {
  width: 100%; 
}
.bg-blue {
  background:var(--foreground);
}
.bg-blue h2 {
  color: #fff;
}
input.PhoneInputInput {
    background: transparent;
        color: #5B5B99
}
table.table.w-full.table-fixed thead {
  background: var(--foreground);
  color: #fff;
  text-align: left;
  border-radius: 10px;
}
table.table.w-full.table-fixed thead tr th, table.table.w-full.table-fixed tbody tr td{
  padding: 10px;
  font-size: 14px;
}
table.table.w-full.table-fixed tbody tr {
  /* background: #fff; */
  border-bottom: 1px solid #ccc;
}
tr:nth-child(even) {background: #383d7114;}
.toggle__icon {
  position: absolute;
  right: -25px;
  z-index: 999;
  background: var(--foreground);
  top: 3%;
  border-radius: 50px;
  border: 4px solid #f7f7fd;
}
.MuiPickersSectionList-root.MuiPickersInputBase-sectionsContainer{
    padding: 12px 0 !important;
    font-size: 12px !important;
}
/* Add this in your pagination styles.css */
.form-control.w-full.p-8.mt-1.rounded.relative.disabled {
  background: #0000001f;
}
.pagination {
  display: flex;
  list-style: none;
  outline: none;
  justify-content: end;
  margin: 1rem 0px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.pagination > li a{
  padding: 8px 15px;
  margin: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.pagination > li.active a{
  background-color: var(--foreground);
  color: white;
  border: 1px solid var(--foreground);
}

.pagination > li a:hover {
  background-color: #383d71;
  color: #fff;
}
.margin_remove .MuiFormControl-root {
  margin: 0 !important;
}
.css-1rndhd7-control{
  box-shadow: none !important;
}
.css-1dimb5e-singleValue {
    font-size: 12px;
}
/* Loader css */
/* Preloader Styling */
#preloader {
  
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.bar-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.bar {
  width: 6px;
  height: 20px;
  background: linear-gradient(45deg, #383D71, #989ff0);
  border-radius: 5px;
  animation: bounce 1.2s infinite ease-in-out;
}

.bar:nth-child(1) {
  animation-delay: 0s;
}
.bar:nth-child(2) {
  animation-delay: 0.2s;
}
.bar:nth-child(3) {
  animation-delay: 0.4s;
}
.bar:nth-child(4) {
  animation-delay: 0.6s;
}
.bar:nth-child(5) {
  animation-delay: 0.8s;
}

#preloader h1 {
  color: #000;
  font-size: 1rem;
  font-weight: 700; 
  text-transform: uppercase;
  animation: fadeIn 1s ease-in-out infinite;
}

/* Animations */
@keyframes bounce {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


/* car loader */

/* @keyframes spin {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(36deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(72deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(108deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(144deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(180deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(216deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(252deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(288deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(324deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(360deg);
  }
}
@keyframes speed {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes strikes {
  from {
    left: 25px;
  }
  to {
    left: -80px;
    opacity: 0;
  }
}
@keyframes dots {
  from {
    width: 0px;
  }
  to {
    width: 15px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
 

.fadeIn, .loading-window {
  animation: fadeIn 0.4s both;
}

.loading-window { 
  border-radius: 6px; 
  color: #383d71; 
  width: 250px;
  z-index: 99;
}
.loading-window .text {
  font-size: 14px;
  position: absolute;
  width: auto;
  top: 75%;
  left: 52%;
  margin: 0 auto;
}
.loading-window .dots {
  display: inline-block;
  width: 5px;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots 1.5s linear infinite;
  transition: 1;
}

.car {
  position: absolute;
  width: 100px;
  height: 35px;
  left: 50%;
  top: 25%;
}
.car .strike {
  position: absolute;
  width: 11px;
  height: 1px;
  background: #383d71;
  animation: strikes 0.2s linear infinite;
}
.car .strike2 {
  top: 11px;
  animation-delay: 0.05s;
}
.car .strike3 {
  top: 22px;
  animation-delay: 0.1s;
}
.car .strike4 {
  top: 33px;
  animation-delay: 0.15s;
}
.car .strike5 {
  top: 44px;
  animation-delay: 0.2s;
}
.car-detail {
  position: absolute;
  display: block;
  background: #383d71;
  animation: speed 0.5s linear infinite;
}
.car-detail.spoiler {
  width: 0;
  height: 0;
  top: 7px;
  background: none;
  border: 20px solid transparent;
  border-bottom: 8px solid #383d71;
  border-left: 20px solid #383d71;
}
.car-detail.back {
  height: 20px;
  width: 92px;
  top: 15px;
  left: 0px;
}
.car-detail.center {
  height: 35px;
  width: 75px;
  left: 12px;
  border-top-left-radius: 30px;
  border-top-right-radius: 45px 40px;
  border: 4px solid #383d71;
  background: none;
  box-sizing: border-box;
}
.car-detail.center1 {
  height: 35px;
  width: 35px;
  left: 12px;
  border-top-left-radius: 30px;
}
.car-detail.front {
  height: 20px;
  width: 50px;
  top: 15px;
  left: 67px;
  border-top-right-radius: 50px 40px;
  border-bottom-right-radius: 10px;
}
.car-detail.wheel {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 20px;
  left: 12px;
  border: 3px solid #fff;
  background: linear-gradient(45deg, transparent 45%, #383d71 46%, #383d71 54%, transparent 55%), linear-gradient(-45deg, transparent 45%, #383d71 46%, #383d71 54%, transparent 55%), linear-gradient(90deg, transparent 45%, #383d71 46%, #383d71 54%, transparent 55%), linear-gradient(0deg, transparent 45%, #383d71 46%, #383d71 54%, transparent 55%), radial-gradient(#383d71 29%, transparent 30%, transparent 50%, #383d71 51%), #fff;
  animation-name: spin;
}
.car-detail.wheel2 {
  left: 82px;
} */

/* end loader css */

div:where(.swal2-container) div:where(.swal2-html-container) { 
  font-size: 14px !important; 
}

:focus-visible {
  outline: none !important;
}

.overflowslidebar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fcfcfc;
  border-radius: 10px;
}

.overflowslidebar::-webkit-scrollbar
{
  width: 5px;
  background-color: #fcfcfc;
}

.overflowslidebar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.44, #383D71),
                     color-stop(0.72, #383D71),
                     color-stop(0.86, #383D71));
}




.MuiInputBase-input, .MuiFormLabel-root {
  font-size: 12px !important;
} 
.MuiInputBase-root.MuiSelect-root{
  /* padding: 12px 14px !important; */
  height: 35px !important;

}

.css-w1u3ce>span{
  font-size: 9px !important;

}

.rightsidebar {
  width: 250px;
  position: fixed;
  left: 14%;
  top: 80px;
  padding: 12px;
  background: #fff;
  height: 90vh;
  overflow: auto;
}
/* .MuiSelect-select{
      padding: 14px 14px !important;
} */
.edit_img {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 8px;
  cursor: pointer;
  border-radius: 50px;
}
.invert_logo{
  filter: invert(1);
}
.bg-color{
  background: var(--foreground);
}
table.table.w-full.table-fixed tbody tr td {
  color: #000;
}

ul.ml-6 li a:before {
  position: absolute;
  border: 1px solid #ffffff;
  content: "";
  inset-inline-start: 1.1rem;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  border-radius: 50%;
  block-size: 0.55rem;
  font-size: 0.55rem;
  inline-size: 0.55rem;
  left: 27px;
}
ul li a.active:before {
  content: '';
  background: #dbc600;
}
.laptop_size li a, .laptop_size li span {
  font-size: 14px;
}
.laptop_size li span { 
  padding-left: 4px;
}
.profile__bg{
  background-image: url(https://demo.nextadmin.co/_next/image?url=%2Fimages%2Fcover%2Fcover-01.png&w=1080&q=75);
  background-repeat: no-repeat;
  background-size: cover;
}
svg.icon__tech {
  position: absolute;
  width: 24px;
  top: 9px;
  right: 5px;
  z-index: 1;
  height: 16px;
}
p.MuiFormHelperText-root.Mui-error.MuiFormHelperText-sizeSmall.MuiFormHelperText-contained {
  margin: 0;
}
  /* .css-huhkee-MuiFormLabel-root-MuiInputLabel-root, .css-14a97vk-MuiFormLabel-root-MuiInputLabel-root, label#outlined-basic-label, label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeSmall.MuiInputLabel-filled.MuiFormLabel-colorWarning.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeSmall.MuiInputLabel-filled{
  left: 22px !important;
} */
.css-1pzfmz2-MuiInputBase-input-MuiOutlinedInput-input, .css-1pemltt-MuiInputBase-input-MuiFilledInput-input, input#outlined-basic, input#confirmPassword, .MuiInputBase-input.MuiFilledInput-input{
  /* padding-left: 35px !important; */
  background-color: #f5f7fa !important;
    padding-right: 26px !important;
}
/* .MuiSelect-select {
  padding: 9.5px 35px !important;
  top: 8px;
    position: relative; 
} */
.css-x1lh3w-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root, .css-1hwf8la-MuiInputBase-root-MuiFilledInput-root, .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorWarning.MuiInputBase-formControl.MuiInputBase-sizeSmall.MuiInputBase-adornedStart.css-1kn6kge-MuiInputBase-root-MuiOutlinedInput-root, textarea, .form-control.w-full.p-3.mt-1.rounded.relative, .MuiInputBase-root.MuiFilledInput-root{
  background-color: #f5f7fa !important;
}
.css-x1lh3w-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root::before, .css-1hwf8la-MuiInputBase-root-MuiFilledInput-root::before, .MuiInputBase-root.MuiFilledInput-root:before{
  border-bottom: none !important;
}
.input.text-xs.input-bordered.w-full.p-2.rounded.PhoneInput {
  background-color: #f5f7fa !important;
  padding: 10px 11px; 
    border: 1px solid #b5b7b9;
}
.css-rcvh0k-control {
    background-color: #f5f7fa !important;
}
/* .MuiListItemText-root.MuiListItemText-dense {
    position: absolute;
    padding-left: 2rem;
    z-index: 99;
} */
 .react-datepicker-popper {
    z-index: 9;
}
.css-1jqq78o-placeholder 
 {
    font-size: 12px;
 }
.search__input input#outlined-basic {
  background-color: #ffffff !important;
}
.css-1q55ijt-MuiInputBase-input-MuiOutlinedInput-input{
  height: 22px !important;
}

.swal-title {
  font-size: 18px;  
}
.word-break{
  word-break: break-all;
}
@media screen and (max-width: 1536px) {
 .container {
        max-width: 1200px !important;
    }
    }
@media (min-width: 1200px) and (max-width: 1600px) {
  .laptop-narrow {
    max-width: 840px;
  }
 
 .laptop__font {
    font-size: 10px;
    font-weight: 600;
}
.laptop__size {
  font-size: 10px;
}
}

@media screen and (max-width: 1620px) {
.laptop_size li a , .laptop_size li span{
  font-size: 11px;
}
table.table.w-full.table-fixed thead tr th, table.table.w-full.table-fixed tbody tr td {
  padding: 10px;
  font-size: 12px;
  text-wrap-mode: wrap;
}
.laptop__icon img {
  max-width: 16px;
}
.laptop__icon button img {
  width:12px;
}
span.badge.badge-success, span.badge.badge-error  {
  padding: 5px;
  width: 80px;
}
  .mobile_listing {
    max-width: 1450px;
  }
  /* table.table.w-full.table-fixed {
    width: unset;
} */
}
@media screen and (max-width:1440px){
  .mobile_listing {
    max-width: 1350px;
  }
}

@media screen and (max-width:1024px){
  .mobile_listing {
    max-width: 991px !important;
  }
  .flex.flex-col.sm\:flex-row.items-center.justify-between.w-full {
    flex-direction: column;
}
}

@media screen and (max-width:991px){
   header .pl-\[17\%\] {
      padding-left: 22%;
    }
    .combine__sidebar__with__header {
    z-index: 99999999;
}
    .bg-color.text-white.fixed.top-0.h-full.transition-all.duration-300.w-\[70px\] ul.flex.flex-col.py-4.laptop_size {
    display: none;
}
    .bg-color.text-white.fixed.top-0.h-full.transition-all.duration-300.w-\[70px\] {
    width: 0;
}
    .bg-color.text-white.fixed.top-0.h-full.transition-all.duration-300.w-\[70px\] .toggle__icon {
    right: -50px;
}
  .toggle__icon{
    display: flex;
  }
 .combine__sidebar__with__header  .flex-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
  header .pl-\[6\%\] {
      padding-left: 8%;
    }
    .mobile_listing_item {
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.right_section {
    padding: 0px !important;
}
.flex.flex-col.sm\:flex-row.items-center.justify-between.w-full {
    flex-direction: column;
    width: 100%;
    gap: 11px;
}
.mobile_listing_item .w-\[150px\],.search__input {
    width: 450px;
}
 .mobile_listing_item label,.mobile_listing_item button,.mobile_listing_item .primary-bg {
    width: 450px;
}
.shadow-lg.p-5.bg-white.rounded {
    max-width: 100%;
}
.right_section.w-\[85\%\] {
    width: 100%;
}
/* .mobile_listing {
    width: 530px;
} */
.mobile_listing {
    max-width: 700px !important;
    width: 100% !important;
}
.invoice_tab_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
  .invoice_tab_content button.primary-bg {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:768px){
header .pl-\[6\%\] {
    padding-left: 11%;
}
.view_inner_content {
    grid-template-columns: auto;
}
}
@media screen and (max-width:567px){
  .bg-color.w-\[300px\] {
    width: 90%;
    z-index: 99999;
  }
.css-1nmdiq5-menu {
    position: absolute;
    z-index: 99;
}
button.fixed.bottom-4.right-4 {
    left: 26px;
    width: 40px;
    bottom: 8px;
}
.max-w-7xl.mx-auto.p-4.rounded-lg.shadow.bg-white {
    padding-bottom: 55px;
}
.mb-2.flex.items-start.gap-3.relative {
    width: 100%;
}
.grid.grid-cols-3.gap-4 {
    flex-direction: column;
    display: flex;
    width: auto;
}
span.badge {
    text-wrap-mode: nowrap;
    margin-top: 1px;
    display: block;
}
.flex.mb-2.shadow-lg.p-2flex.gap-0 {
    flex-direction: column;
    gap: 3px;
    font-size: 13px;
}
  ul.sdev_overlap_mob>li,ul.laptop_size ul>li {
  margin-top: 5px;
  }
  .grid.grid-cols-2.gap-4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
h1.text-xl.font-bold.transition-all.duration-300.capitalize {
    display: none;
}
.mb-4.relative {
    width: 100%;
}
.grid.grid-cols-3.gap-4.mt-4 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
  header h1 {
    padding-left: 0px !important;
}
.grid.grid-cols-2.gap-4 .mb-4 ,.grid.grid-cols-3.gap-4.mt-4 .mb-2{
    width: 100%;
}
  .flex.items-center.p-8.bg-white.shadow.rounded-lg {
  flex-direction: column;
  align-items: center;
  text-align: center;
  }

  header.bg-white.shadow-md {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    display: flex;
}
header .pl-\[17\%\] {
    padding-left: 64%;
}
  header .pl-\[6\%\] {
    padding-left: 50%;
}
header {
    padding-right: 10px !important;
}
.container {
    max-width: 336px !important;
    padding-left: 0px;
}
h1.text-lg.leading-6.font-bold.text-gray-900.mb-\[2px\].sm\:mb-0 {
    padding-left: 15px;
}
.p-5 {
    padding: 5px 6px !important;
}
.view_inner_content {
    padding: 5px 5px;
}
.p-6{
   padding: 10px 5px;
}
.grid.grid-cols-2.gap-6.p-6 {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: anchor-center;
}
.rdrDays>button {
    width: 35px !important;
}
.rdrMonth {
    width: 31%;
}
.absolute.z-40.sdev_date_picker {
    width: 100%;
}
.rdrCalendarWrapper {
    color: #000;
    font-size: 12px;
    width: 100%;
}
.rdrWeekDay {
    flex-basis: 13.2857% !important;
}
.flex.gap-4.p-4 {
    flex-direction: column;
    width: 100%;
}
.shadow-lg.p-5.bg-white.rounded {
    /* max-width: fit-content; */
}
.shadow-lg.p-5.bg-white.rounded {
    width: 100%;
}
table.table.w-full.table-fixed.sdev_table {
    width: 100% !important;
}
h1.text-4xl.font-semibold.mb-2 {
    text-align: center;
}
p.mb-4.border-b.border-gray-500.mb-3.pb-4 {
    width: 100%;
}
p.mb-4.border-b.border-gray-500.mb-3.pb-4,p.mb-4.border-b.border-gray-500.pb-4 {
    width: 100%;
}
p.mb-4.border-b.border-gray-500.mb-3.pb-4.flex {
    flex-wrap: wrap;
}
.mobile_listing {
    max-width: 400px !important;
    width: 100% !important;
}
.mobile_listing_item {
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.mobile_listing_item .w-\[150px\] {
    width: 310px;
}
 .mobile_listing_item label,.mobile_listing_item button,.mobile_listing_item .primary-bg {
    width: 310px;
}
.search__input {
    width: 310px;
}
.mx-auto.mt-4.transition-all.duration-300.w-full.pl-\[5rem\] {
    width: 310px;
}
.mobile_listingmx-auto.mt-4.transition-all.duration-300.w-full.pl-\[5rem\] {
    width: 320px;
}
.mobile_listing.pl-\[5rem\] {
    padding-left: 0;
}
.right_section .mobile_listingmx-auto, .mt-\[7rem\] {
    margin-top: 6rem;
}

}

@media screen and (max-width:425px){
  /* .mobile_listing.pl-\[5rem\] {
    padding-left: 4.5rem;
} */
 .mobile_listing {
    max-width: 330px !important;
    width: 100% !important;
}
}