@import "tailwindcss";
:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #D70007;
}

@theme {
    --color-primary: var(--primary)
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
}

.ahover:hover {
    background: linear-gradient(0deg, rgba(169, 0, 7, 1) 0%, rgba(214, 0, 7, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.gradient-primary {
    background: #D70007;
    background: linear-gradient(90deg, rgba(215, 0, 7, 1) 0%, rgba(160, 0, 6, 1) 50%, rgba(97, 1, 5, 1) 100%);
}

.hovergradient-primary:hover {
    transition: all 0.5 ease-in-out;
    background: #D70007;
    background: linear-gradient(90deg, rgba(215, 0, 7, 1) 0%, rgba(160, 0, 6, 1) 50%, rgba(97, 1, 5, 1) 100%);
}

.gradient-ternary {
    background: linear-gradient(0deg, rgba(96, 1, 6, 1) 0%, rgba(86, 0, 3, 1) 100%);
}

.inn_container {
    max-width: 1770px;
    margin-inline: auto;
    padding-inline: 3%;
}

.gradient-border {
    /* border: 2px solid; */
    border-image: linear-gradient(90deg, rgba(215, 0, 7, 1) 0%, rgba(160, 0, 6, 1) 50%, rgba(97, 1, 5, 1) 100%) 1;
}

.gradient-text {
    background: linear-gradient(0deg, rgba(169, 0, 7, 1) 0%, rgba(214, 0, 7, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

@media screen and (max-width: 768px) {
    br {
        display: none;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradientMove 3s linear infinite;
}